{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <!-- own css -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% endblock %}

{% block body_block %}
<div class="jumbotron loginform">
    <h1 style="text-align:center">Please Login</h1>
    <hr>
    <form action="{% url 'usercreation:userlogin' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Enter your username: </label>
          <input type="text" class="form-control" aria-describedby="userHelp" placeholder="Enter username" name="username">
        </div>
        <div class="form-group">
          <label for="password">Password: </label>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="text-center">
            <input type="submit" value="Login" class="btn btn-success"> 
        </div> 
    </form>
</div>
<hr>
<div class="container">
  <div class="row justify-content-md-center">
    <h6>New to Retirement Calculator?</h6>
  </div>
  <div class="row justify-content-md-center">
    <a href="{% url 'usercreation:signup' %}" class="btn btn-primary">Signup</a>
  </div>
</div>
{% endblock %}