{% extends "base.html" %}
{% load static %}
{% block extra_head %}
    <!-- own css -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block body_block %}
<div class="jumbotron signupform">
    {% if registered %}
        <h2>Thank you for registering</h2>
    {% else %}
        <h2>Register here!</h2>
        <h3>Fill out the form: </h3>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p}}
            {{ profile_form.as_p}}
            <input type="submit" value="Register" class="btn btn-primary">
        </form>
    {% endif %}
</div>
{% endblock %}